<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>png</key>
		<string>emoticon_0</string>
		<key>chs</key>
		<string>[:D]</string>
		<key>reg</key>
		<string>[:D]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_1</string>
		<key>chs</key>
		<string>[:-o]</string>
		<key>reg</key>
		<string>[:-o]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_2</string>
		<key>chs</key>
		<string>[:p]</string>
		<key>reg</key>
		<string>[:p]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_3</string>
		<key>chs</key>
		<string>[:@]</string>
		<key>reg</key>
		<string>[:@]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_4</string>
		<key>chs</key>
		<string>[:s]</string>
		<key>reg</key>
		<string>[:s]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_5</string>
		<key>chs</key>
		<string>[:$]</string>
		<key>reg</key>
		<string>[:$]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_6</string>
		<key>chs</key>
		<string>[:(]</string>
		<key>reg</key>
		<string>[:(]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_7</string>
		<key>chs</key>
		<string>[:&apos;(]</string>
		<key>reg</key>
		<string>[:&apos;(]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_8</string>
		<key>chs</key>
		<string>[:|]</string>
		<key>reg</key>
		<string>[:|]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_9</string>
		<key>chs</key>
		<string>[:-#]</string>
		<key>reg</key>
		<string>[:-#]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_10</string>
		<key>chs</key>
		<string>[:-*]</string>
		<key>reg</key>
		<string>[:-*]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_11</string>
		<key>chs</key>
		<string>[*-)]</string>
		<key>reg</key>
		<string>[*-)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_12</string>
		<key>chs</key>
		<string>[):]</string>
		<key>reg</key>
		<string>[):]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_13</string>
		<key>chs</key>
		<string>[;)]</string>
		<key>reg</key>
		<string>[;)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_14</string>
		<key>chs</key>
		<string>[(H)]</string>
		<key>reg</key>
		<string>[(H)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_15</string>
		<key>chs</key>
		<string>[(a)]</string>
		<key>reg</key>
		<string>[(a)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_16</string>
		<key>chs</key>
		<string>[8o|]</string>
		<key>reg</key>
		<string>[8o|]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_17</string>
		<key>chs</key>
		<string>[8-|]</string>
		<key>reg</key>
		<string>[8-|]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_18</string>
		<key>chs</key>
		<string>[+o(]</string>
		<key>reg</key>
		<string>[+o(]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_19</string>
		<key>chs</key>
		<string>[&lt;o)]</string>
		<key>reg</key>
		<string>[&lt;o)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_20</string>
		<key>chs</key>
		<string>[|-)]</string>
		<key>reg</key>
		<string>[|-)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_21</string>
		<key>chs</key>
		<string>[^o)]</string>
		<key>reg</key>
		<string>[^o)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_22</string>
		<key>chs</key>
		<string>[8-)]</string>
		<key>reg</key>
		<string>[8-)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_23</string>
		<key>chs</key>
		<string>[(|)]</string>
		<key>reg</key>
		<string>[(|)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_24</string>
		<key>chs</key>
		<string>[(u)]</string>
		<key>reg</key>
		<string>[(u)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_25</string>
		<key>chs</key>
		<string>[(S)]</string>
		<key>reg</key>
		<string>[(S)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_26</string>
		<key>chs</key>
		<string>[(*)]</string>
		<key>reg</key>
		<string>[(*)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_27</string>
		<key>chs</key>
		<string>[(#)]</string>
		<key>reg</key>
		<string>[(#)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_28</string>
		<key>chs</key>
		<string>[(R)]</string>
		<key>reg</key>
		<string>[(R)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_29</string>
		<key>chs</key>
		<string>[({)]</string>
		<key>reg</key>
		<string>[({)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_30</string>
		<key>chs</key>
		<string>[(})]</string>
		<key>reg</key>
		<string>[(})]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_31</string>
		<key>chs</key>
		<string>[(k)]</string>
		<key>reg</key>
		<string>[(k)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_32</string>
		<key>chs</key>
		<string>[(F)]</string>
		<key>reg</key>
		<string>[(F)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_33</string>
		<key>chs</key>
		<string>[(W)]</string>
		<key>reg</key>
		<string>[(W)]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>emoticon_34</string>
		<key>chs</key>
		<string>[(D)]</string>
		<key>reg</key>
		<string>[(D)]</string>
	</dict>
</array>
</plist>
